.container{
    display: grid;
    grid-template-columns:4fr 1fr;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.side_container{
    background-color: aqua;
    height: 500px;
    position: sticky;
    top:0;
}